<mat-card class="product-card-inner">
  <img mat-card-image [src]="product.url" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <h3>{{ product.name }}</h3>
    <h4>Price: {{ product.price }}</h4>
    <p>
      {{ product.description }}
    </p>

    <mat-form-field appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selectedNumber">
        <mat-option *ngFor="let item of numberOfItems" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="viewProduct(product.id)"
      class="view-btn"
      color="primary"
      mat-raised-button
    >
      View
    </button>
    <button (click)="addToCart()" color="primary" mat-raised-button>
      Add to Cart
    </button>
  </mat-card-actions>
</mat-card>
